<div class="single-blog-post" *ngFor="let data of showPost">
  <h3>Girls Pink T Shirt arrived in store</h3>
  <div class="post-meta">
    <ul>
      <li><i class="fa fa-user"></i>{{ data.name }}</li>
      <li><i class="fa fa-clock-o"></i> 1:33 pm</li>
      <li><i class="fa fa-calendar"></i> DEC 5, 2013</li>
    </ul>
    <span>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-half-o"></i>
    </span>
  </div>
  <a>
    <img src="{{ data.image }}" alt="" />
  </a>
  <p>{{ data.description }}</p>
  <a class="btn btn-primary">Read More</a>
</div>