<div class="rating-area">
  <ul class="ratings">
    <li class="rate-this">Rate this item:</li>
    <li>
      <i class="fa fa-star color"></i>
      <i class="fa fa-star color"></i>
      <i class="fa fa-star color"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
    </li>
    <li class="color">(6 votes)</li>
  </ul>
  <ul class="tag">
    <li>TAG:</li>
    <li>
      <a class="color">Pink <span>/</span></a>
    </li>
    <li>
      <a class="color">T-Shirt <span>/</span></a>
    </li>
    <li><a class="color">Girls</a></li>
  </ul>
</div>
<!--/rating-area-->

<div class="socials-share">
  <a><img src="assets/images/blog/socials.png" alt="" /></a>
</div>
<!--/socials-share-->

<div class="media commnets">
  <a class="pull-left" href="#">
    <img class="media-object" src="assets/images/blog/man-one.jpg" alt="" />
  </a>
  <div class="media-body">
    <h4 class="media-heading">Annie Davis</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </p>
    <div class="blog-socials">
      <ul>
        <li>
          <a><i class="fa fa-facebook"></i></a>
        </li>
        <li>
          <a><i class="fa fa-twitter"></i></a>
        </li>
        <li>
          <a><i class="fa fa-dribbble"></i></a>
        </li>
        <li>
          <a><i class="fa fa-google-plus"></i></a>
        </li>
      </ul>
      <a class="btn btn-primary">Other Posts</a>
    </div>
  </div>
</div>
<!--Comments-->
