<h2 class="title text-center">Wish list</h2>
<div class="container">
  <div class="row">
    <div class="col-sm-3" *ngFor="let data of wishListData; let i = index">
      <div class="product-image-wrapper">
        <div class="single-products">
          <div class="productinfo text-center">
            <img src="{{ data.banner }}" alt="" />
            <h2>$ {{ data.price }}</h2>
            <p>{{ data.product_name }}</p>
            <a class="btn btn-default add-to-cart"
              ><i class="fa fa-shopping-cart"></i>Add to cart</a
            >
            <a class="btn btn-default add-to-cart" (click)="deleteProduct(data.wishlist_id)"
              ><i class=""></i>Remove</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
